:root {
	/* Colors */
	--background-color: #fdfdfe;
	--primary-color: #07f; /* "SIAFI" Blue */
	--accent-color: #ea0000;
	--instagram-gradient: linear-gradient(
		90deg,
		#fc466b 56.01%,
		#3f5efb 99.82%
	);
	--black: #000;
	--navbar-background: linear-gradient(
		180deg,
		rgba(252, 248, 255, 0.2) 0%,
		rgba(252, 248, 255, 0) 100%
	);
	/* Font sizes */
	--body-size: 16px;
}

body {
	margin: 0;
	background: var(--background-color);
	font-family: "Cabinet Grotesk", Calibri;
}
