:root {
	/* Colors */
	--background-color: #fdfdfe;
	--primary-color: #07f; /* "SIAFI" Blue */
	--accent-color: #ea0000;
	--secondary-text-color: #7a7b86;
	--instagram-gradient: linear-gradient(
		90deg,
		#fc466b 56.01%,
		#3f5efb 99.82%
	);
	--footer-background: linear-gradient(90deg, #016bff 0%, #002b66 100%);
	--primary-text-color: #000;
	--black: #000;
	--white: #fff;
	--navbar-background: #fdfdfe;
	--avatars-background: #dcdcdc;
	--project-card-border: #333;
	--grayscale-900: #121127;
	--inactive-color: #f9f9f9;
	--primary-color-shade: #479dff;
	/* Font sizes */
	--body-size: 16px;
}

body {
	margin: 0;
	background: var(--background-color);
	font-family: "Cabinet Grotesk", Calibri;
}
