.navbarContainer {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	padding: 12px 0;
	background: var(--navbar-background);
	backdrop-filter: blur(7.5px);
	z-index: 100;
}

.navbarContent {
	justify-content: space-between;
	align-items: center;
	display: flex;
}

.navbarLinks ul {
	display: flex;
	align-items: center;
	gap: 40px;
}

.navbarLinks li {
	display: flex;
	list-style: none;
	text-transform: uppercase;
	text-align: center;
	font-family: Cabinet Grotesk, Calibri;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%; /* 21.6px */
	letter-spacing: 0.36px;
}

.navbarLinks a {
	text-decoration: none;
	color: var(--Negro, #000);
}

.navbarLinks a:hover {
	color: blue;
}
