.iconContainer {
	border-radius: 100%;
	display: flex;
	width: 40px;
	height: 40px;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
}

.iconContainer:hover {
	scale: 1.2;
}

.iconContainer img {
	height: 75%;
	width: auto;
	padding: 5px;
	object-fit: contain;
	max-width: 35px;
}

.iconContainer.light {
	background: var(--primary-color);
}
